.footer {
  background: radial-gradient(circle at center, blue, red);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer ul {
  list-style: none;
  margin: 0;
}

.footer li {
  display: inline-block;
  margin: 0;
}

.footer li a,
.footer li button {
  color: pink;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.footer li a:hover,
.footer li button:hover { 
  color: red;
}

.footer li button {
  background-color: transparent;
  border: none;
}
