.home {
    background-image: url('../default.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: pink; /* Match navbar and footer */
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .header button {
    background-color: transparent;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .header button:hover {
    color: #f58271; /* Slightly darker pink on hover */
  }
  