
.navigation-bar {
  background: radial-gradient(circle at center, blue, red);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navigation-bar li {
  display: inline-block;
  margin: 0 10px;
}

.navigation-bar li a {
  color: pink;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
  padding: 10px 15px;
}


.navigation-bar li a:hover {
  color: red;
}


.logout-button {
  border: none;
  background: none;
  padding: 10px 15px;
  cursor: pointer;
  margin: 0 10px;
}
